// Icon Fonts
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;}

// Image on Home Page

.featured__image {
	background-image: url(http://placehold.it/1200x400);
	position: 0;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
	@media #{$small-up} {height: 200px;}
	@media #{$medium-up} {height: 300px;}
	@media #{$large-up} {height: 400px;}
	
		h5 {
		text-align: center;
		padding-top: 50%;
		padding-bottom: 50%;
		padding-left: 4em;
		padding-right: 4em;
		color: white;
	}
	    }
		
		
.footer p {
	font-size: 10px;
	text-color: gray;
	text-align: center;
	}
	
.biography {
    @include panel();
	text-align: center;
    }
	
.social-icons {
	@include inline-list;
	display: inline-block;
	text-align: center;
 	}
	